html {
    background-image: radial-gradient(#000, #080808, #000);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-image: linear-gradient(180deg, #00ffff, #ff0000);
    background-clip: text;
    text-fill-color: transparent;
}
